<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dockerfileGenerator -->
      <package
            uri="http://ezdevops2.com"
            class="dockermetamodel.DockerfileGeneratorPackage"
            genModel="model/docker/dockerfileGenerator.genmodel"/>
   </extension>

</plugin>
